body {
    background-color: #E6E6FA;
    align-items: center;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    color: #FFF5EE;
    margin-top: 80px;
}

.container {
    width: 100%;
    background-image: url(images/bg.jpeg);
    margin-top: 40px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.button-container {
    position: fixed;
    bottom: 15px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    padding: 5px;
    background-color: #9791a1;
}

button {
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #E6E6FA;
    background-color: #E6E6FA;
}
